html

	head

		title Playground

		style.

			.movable {
				background: white;
				float: left;
				width: 100px;
				height: 100px;
				margin: 20px;
				cursor: default;
			}

			.another {
				background: pink;
				width: 50px;
				height: 50px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 25px;
			}

			.scroll-container {
				width: 600px;
				height: 300px;
				position: absolute;
				top: 160px;
				left: 100px;
				background: white;

				overflow: hidden;
			}

			.piston {
				width: 100%;
			}

			.thingy {
				width: 60px;
				height: 60px;
				background: purple;
				margin-bottom: 30px;
			}

			body {
				background: #1f1f1f;
				font-family: Helvetica;
				-webkit-user-select: none;
			}

		:coffeescript

			window.curl =

				baseUrl: '../../scripts/js/lib'

		script(src="../../scripts/vendor/curl.js")

	body

		.movable: .another
		.movable: .another
		.movable: .another
		.movable: .another
		.movable: .another
		.movable: .another
		.movable: .another

		.scroll-container

			.piston

				- for (var i = 0; i < 20; i++)

					.thingy

	:coffeescript



		curl [
			'touchy/el'
			'touchy/touchy'
			'scroll/scrollable'
			'../../vendor/yatta/prepare'
		], (TouchyEl, Touchy, Scrollable, afterPrepare) ->

			afterPrepare ->

				randomColor = ->

					return 'rgb(' +
						parseInt(Math.random() * 255) + ', ' +
						parseInt(Math.random() * 255) + ', ' +
						parseInt(Math.random() * 255) + ')'

				$ = TouchyEl.get

				for node in document.querySelectorAll '.movable, .another'

					el = $ node

					el.on 'tap', (pos) ->

						@yatta.css 'background-color', randomColor()

					el.on 'move', (pos) ->

						@yatta.move pos.x, pos.y, 1

				t = new Touchy document

				s = new Scrollable document.querySelector '.scroll-container'

				s.recalculate()